name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build --build-arg USERNAME="giulero" USEREMAIL="giuseppe.lerario@gmail.com" --tag robotology_docker:$(date +%s) .devcontainer/
